.ReactTable .rt-tbody .rt-td {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ReactTable .rt-thead .rt-tr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vhcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.row {
  margin-bottom: 0;
}
